@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  @font-face {
    font-family: 'Openhuninn';
    font-style: normal;
    src: url('./fonts/jf-openhuninn-2.1.ttf') format('truetype');
  }
  @font-face {
    font-family: 'GenSenRounded-B';
    font-style: normal;
    src: url('./fonts/GenSenRounded2TW-B.otf') format('opentype');
  }
  @font-face {
    font-family: 'GenSenRounded-L';
    font-style: normal;
    src: url('./fonts/GenSenRounded2TW-L.otf') format('opentype');
  }
  @font-face {
    font-family: 'GenSenRounded-R';
    font-style: normal;
    src: url('./fonts/GenSenRounded2TW-R.otf') format('opentype');
  }

  a:hover {
    @apply text-primary-500;
  }
}
